
.container{
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 350px;
    background-color: lightgrey;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid black;
    margin: 0 auto;
}