
.container{
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 350px;
    background-color: lightgrey;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid black;
    margin: 0 auto;
}

.header{
    height: 50px;
    width: 90%;
    background-color: white;
    margin-top: 10px ;
    border: 2px solid black;
}

.content{
    height: 450px;
    width: 90%;
    margin-top: 10px ;
    gap: 10px;
}

button{
    background-color: white;
    font-size: 24px;
    font-weight: 900px;
    height: 70px;
    width: 75px;
    box-sizing: border-box;
    border-radius: 5px;
    
}